<form name='register' class="form-horizontal" novalidate>

  <!-- EMAIL -->
  <div class="form-group">
    <label class="col-sm-2 control-label">Name or email</label>
    <div class="col-sm-10">
      <input
        name='email'
        ng-model='email'
        type="email"
        required
        class="form-control"
        placeholder="">
      <p
        ng-show='register.email.$dirty && register.email.$invalid'
        class='help-block'>Please enter a proper email</p>
    </div>
  </div>

  <!-- PASSWORD -->
  <div class="form-group">
    <label  class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input
        name='password'
        ng-model='password'
        required
        class='form-control'
        type="password"
        placeholder="Password"/>
    </div>
  </div>

  <!-- CONFIRM PASSWORD -->
  <div class="form-group">
    <label  class="col-sm-2 control-label">Confirm password</label>
    <div class="col-sm-10">
      <input
        name='password_confirm'
        ng-model='password_confirm'
        validate-equals='password'
        type="password"
        class='form-control'
        placeholder="Confirm password"/>
      <p
        ng-show='register.password_confirm.$dirty && register.password_confirm.$invalid'
        class="help-block alert">
        please match the passwors
      </p>
    </div>
  </div>

  <!-- BUTTONS -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-disabled='register.$invalid' type="submit" class="btn btn-default">Register</button>
      <!-- <button class="btn btn-default">Register</button> -->
    </div>
  </div>

  <div>
    <h4>email</h4>
    <p>{{register.email}}</p>

    <h4>password</h4>
    <p>{{register.password}}</p>

    <h4>password_confirm</h4>
    <p>{{register.password_confirm}}</p>

    <h3>FORM</h3>
    <p>{{register}}</p>
  </div>
</form>
